@import "../../theme";
.navbar-container {
	padding: 0;
	position: fixed;
	height: 100vh;
	width: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	box-shadow: 3px 3px 5px $transparent-black;
}

.navbar-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: auto;
	color: $pale-spring-bud;
	text-decoration: none;
	width: 5rem;
	padding: 1rem 0;
	border: 1px solid $transparent-black;
	img {
		height: 3rem;
		width: 3rem;
	}
	transition: 500ms;
	&:hover {
		background-color: $dark-green;
	}
}

.sign-out {
	margin-top: auto;
}
